*{
    margin: 0px;
    background-color: blue;
}

nav > ul > li{
    display: inline;
    margin-left: 39px;
   
}

nav li > a{
    text-decoration: none;
    font-size: large;
    font-weight: 400;
    color: white;

}

.audio{
    border: 20px solid red;
    border-radius: 10px;
    margin: 39px;
    padding: 20px;
    box-shadow: 10px 10px 20px wheat;
}

.video{
    border: 20px solid red;
    border-radius: 20px;
    margin: 39px;
    box-shadow: 10px 10px 20px wheat;
}

.youtube{
    margin: 39px;
    border: 20px solid red;
    border-radius: 10px;
    box-shadow: 10px 10px 20px wheat;
}